/*-----------------------------------------------------
Table of Contents

1. General Styles
2. Blocks & Pages
	# About
	# Blog List
	# Blog Post
	# Contact
	# CTA
	# Featured Works
	# Footer
	# Hero
	# Navigation
	# Portfolio
	# Single Project
------------------------------------------------------*/

/*-----------------------------------------------------
1. General Styles
------------------------------------------------------*/
@font-face {
    font-family: "mona-sansextrabold_wide";
    src: url("/webfonts/mona-sans-extraboldwide-webfont.woff2") format("woff2"), url("/webfonts/mona-sans-extraboldwide-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mona-sanslight_wide";
    src: url("/webfonts/mona-sans-lightwide-webfont.woff2") format("woff2"), url("/webfonts/mona-sans-lightwide-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-padding-top: 10%;
}

h1 {
	font-family: "mona-sansextrabold_wide";
	font-size: 100%;
	line-height: 1.5;
}

body {
	user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	font-family: "Poppins", sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

a {
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.btn {
	border-radius: 27.5px;
	display: inline-block;
	font-family: Montserrat, sans-serif;
	font-size: .75rem;
	font-weight: 600;
	height: 55px;
	letter-spacing: 2.5px;
	line-height: 55px;
	text-align: center;
	text-transform: uppercase;
	width: 220px;
}

.contact-form input,
.contact-form textarea {
	border: none;
	outline: none;
}

.contact-form input {
	margin-bottom: 30px;
}

.contact-form input::placeholder,
.contact-form input,
.contact-form textarea::placeholder {
	font-family: Montserrat, sans-serif;
	font-size: .8rem;
	letter-spacing: .3px;
}

.contact-form input[name=name],
.contact-form input[name=email],
.contact-form input[name=business], 
.contact-form input[name=phone-number] {
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	width: 48%;
}

.contact-form input[name=name],
.contact-form input[name=business] {
	margin-right: 4%;
}

.contact-form textarea {
	height: 200px;
	padding: 25px;
	width: 100%;
}

.contact-form textarea {
	font-family: Montserrat, sans-serif;
	font-size: .875rem;
	line-height: 1.6;
}

.contact-form textarea::-webkit-scrollbar {
    width: 8px; 
}

.contact-form input[type=submit] {
	cursor: pointer;
	font-family: Montserrat, sans-serif;
	float: right;
	font-size: .6875rem;
	font-weight: 500;
	height: 50px;
	letter-spacing: 3px;
	line-height: 50px;
	margin: 23px 0 0 0;
	text-transform: uppercase;
	transition: all .2s linear;
	width: 220px;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.clearfix {
	clear: both;
}

.img-cover  {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-----------------------------------------------------
2. Blocks & Pages
------------------------------------------------------*/

/* =============== # About =============== */

.about .intro {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.4;
	margin: 140px 50px 140px 0;
}

.about-heading {
	font-size: 2rem;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 60px;
	border-left: 4px solid #ff6f61;
	padding-left: 28px;
}

.services {
	margin-bottom: 100px;
}

.services-item {
	align-items: center;
	display: flex;
	float: left;
	width: 28%;
}

.services-item:nth-of-type(2) {
	margin: 0 3%;
}

.service-icon {
	align-items: center;
	border-radius: 50%;
	display: flex;
	font-size: 1.7rem;
	justify-content: center;
	height: 64px;
	width: 64px;
}

.services-item .content h3 {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: .2px;
	margin: 22px 0 16px 0;
	text-transform: capitalize;
}

.services-item li {
	font-size: 1rem;
	font-weight: 300;
	list-style: none;
	margin-bottom: 12px;
	text-transform: capitalize;
}

.team-member {
	float: left;
	height: 390px;
	position: relative;
	width: 33.333%;
}

.team-member .overlay {
	left: 0;
	height: 100%;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all .3s linear;
	width: 100%;
}

.team-member .overlay .info {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.team-member:hover .overlay {
	cursor: pointer;
	opacity: 1;
}

.team-member .overlay .info h2 {
	font-size: 1.3125rem;
	font-weight: 400;
	margin-bottom: 5px;
	text-transform: capitalize;
}

.team-member .overlay .info h3 {
	font-size: .875rem;
	font-weight: 300;
	letter-spacing: .1px;
	text-transform: capitalize;
}

/* =============== # Blog List =============== */

.blog {
	margin-bottom: 140px;
}

.blog .container {
	display: flex;
	flex-wrap: wrap;
}

.blog .blog-item .entry-thumbnail {
	height: 470px;
}

.blog .blog-item {
	
	width: 48.5%;
}

.blog .blog-item:nth-of-type(odd) {
	margin: 0 3% 62px 0;
}

.blog .blog-item:nth-of-type(7){
	margin-top: auto;
}

.entry-category {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .4px;
	text-transform: capitalize;
}

.blog .entry-category {
	margin: 22px 0 6px 0;
}

.blog .entry-title {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.4;
	text-transform: capitalize;
}

/* =============== # Blog Post =============== */


.blog-post .container {
	position: relative;
}

.blog-post .entry-header {
	margin: 56px auto 49px auto;
	text-align: center;
	width: 51%;
}

.blog-post .entry-title {
	font-size: 2.6rem;
	font-weight: 400;
	line-height: 1.3;
	margin: 18px 0 18px 0;
	text-transform: capitalize;
}

.blog-post .entry-category {
	font-size: 1.1rem;
}

.entry-date {
	font-size: .9rem;
}

.blog-post .entry-thumbnail {
	height: 600px;
	margin-bottom: 67px;
	width: 100%;
}

.entry-content p   {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.9;
	margin: 0 auto 24px auto;
	width: 51%;
}

.text-center-for-blog {
  text-align: center;
  margin-top: 20px; /* Adjusts space above the element */
  margin-bottom: 20px; /* Adjusts space below the element */
  padding: 10px; /* Adds space inside the element, making the content look bigger */
  font-size: 1.5em; /* Increases the font size */
}



.entry-content .post-img  {
	height: 500px;
	margin: 68px auto;
	width: 74%;
}

.share-links {
	margin: 46px auto 90px auto;
	text-align: center;
	width: 51%;
}

.share-links li  {
	display: inline-block;
	list-style: none;
}

.share-links li a {
	border-radius: 50%;
	display: block;
	font-size: .875rem;
	height: 50px;
	line-height: 50px;
	width: 50px;
}

.share-links li:nth-of-type(2) {
	margin: 0 10px;
}

.comments,
.leave-comment {
	width: 51%;
}

.comments {
	margin: 0 auto 84px auto;
}

.leave-comment {
	margin: 0 auto 150px auto;
}

.comments .heading,
.leave-comment .heading {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 40px;
	text-transform: capitalize;
}

.comment {
	border-bottom: 1px solid #ddd;
	margin-bottom: 50px;
	padding-bottom: 43px;
	position: relative;
}

.comment:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.comment .avatar {
	float: left;
	height: 110px;
	margin-right: 30px;
	width: 110px;
}

.comment .avatar img {
	border-radius: 50%;
}

.comment .content {
	float: right;
	width: calc(100% - 140px);
}

.comment .name {
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 3px;
	text-transform: capitalize;
}

.comment .publication-date {
	font-size: .75rem;
	font-weight: 400;
	letter-spacing: .2px;
}

.comment p {
	font-size: .9rem;
	font-weight: 300;
	letter-spacing: .1px;
	line-height: 1.8;
	margin-top: 12px;
}

.comment .reply {
	font-size: .6875rem;
	font-weight: 500;
	letter-spacing: 1.5px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
}

/* =============== # Contact =============== */

.contact {
	margin-top: 90px;
}

.contact h1 {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 48px;
	text-align: center;
}

.contact .contact-form {
	margin: auto;
	width: 66%;
}

.contact-info {
	margin-top: 150px;
	padding: 105px 0 95px 0;
	width: 100%;
}

.contact-info ul {
	float: left;
	list-style: none;
	margin-right: 200px;
}

.contact-info ul li:first-child {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 14px;
}

.contact-info ul li {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 10px;
}

.contact-form textarea {
    resize: vertical;
}


/* =============== # CTA =============== */

.cta {
	text-align: center;
	padding: 190px 0 210px 0;
	width: 100%;
}

.cta h1 {
	font-size: 3.75rem;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 46px;
}

/* =============== # Featured Works =============== */

.featured-works .item {
	margin-bottom: 60px;
	width: 100%;
}

.featured-works a:nth-of-type(5) .item {
	margin-bottom: 0;
}

.featured-works .item-img {
	
	height: 470px;
	width: 100%;
}

.featured-works .item-title {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
	margin: 20px 0 11px 0;
}

.featured-works .item-category {
	font-size: .6875rem;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* =============== # Footer =============== */

.footer-default {
	height: 100px;
	line-height: 100px;
}

.footer-default-border {
	border-top: 1px solid #eee;
	height: 101px;
}

.footer-default .copyright {
	float: left;
	font-size: .875rem;
	font-weight: 400;
	letter-spacing: .4px;
	text-transform: capitalize;
}

.footer-default .follow-us-links {
	float: right;
}

.footer-default .follow-us-links li {
	float: left;
	font-size: .875rem;
	list-style: none;
	margin-left: 35px;
}

/* =============== # Hero =============== */

.hero {
	padding: 150px 0;
	position: relative;
	width: 100%;
}

.hero h1 {
	font-size: 5.625rem;
	font-weight: 400;
	line-height: 1.1;
}

.hero .social-links {
	list-style: none;
	position: absolute;
	right: -6px;
	top: 50%;
	transform: translateY(-50%);
}

.hero .social-links li {
	font-size: 1.125rem;
	letter-spacing: .4px;
	margin-bottom: 37px;
	writing-mode: vertical-rl;
}

/* =============== # Navigation =============== */

.main-header {
	height: 100px;
	width: 100%;
}

.logo {
	float: left;
	height: 30px;
	margin-top: 36px;
}

.open-nav {
	display: block;
	float: right;
	height: 100px;
	position: relative;
	width: 100px;
}

.open-nav i {
	height: 2px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 28%;
}

.open-nav i:before {
	content: " ";
	height: 2px;
	position: absolute;
	top: -9px;
	width: 100%;
}

.open-nav i:after {
	content: " ";
	height: 2px;
	position: absolute;
	top: 9px;
	width: 100%;
}

.close-nav {
	float: right;
	font-size: 1.3rem;
	margin: 20px 40px 0 0;
}

.aside-navigation-overlay {
	text-transform: capitalize;
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	transition: opacity .4s, left 0s .4s;
	z-index: 20;
	
}

.aside-navigation-overlay.active {
	left: 0;
	opacity: 1;
	transition: opacity .4s, left 0s;
}

.aside-navigation {
	padding-top: 50px; /* Added padding to prevent content from being obscured. You can adjust this value as needed */
    box-sizing: border-box; /* include padding in the element's total height */
	overflow-y: auto; /* Enables scrolling within the navigation */
    position: fixed; /* Fixes the position */
    /* ... other styles ... */
	height: calc(var(--vh, 1vh) * 100); /* Equivalent to 100vh */
	left: -100%;
	top: 0;
	transition: left .8s;
	width: 400px;
}

.aside-navigation.active {
	left: 0;
}

.aside-navigation nav {
	left: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.aside-navigation nav ul li {
	font-family: "mona-sansextrabold_wide";
	font-size: 1.7rem;
	font-weight: 500;
	list-style: none;
	padding-bottom: 13px;
	text-transform: uppercase; /* This will make all letters capital */
}

.aside-navigation .social-icons {
	bottom: 40px;
	left: 50px;
	position: absolute;
}

.aside-navigation .social-icons li {
	bottom: 60px;
	font-size: .95rem;
	float: left;
	list-style: none;
	margin-right: 27px;
}
/* # NO SCROLL NAV */
.no-scroll, .no-scroll-html {
    overflow: hidden !important;
}



/* =============== # Portfolio =============== */

.portfolio .portfolio-item {
	float: left;
	margin-bottom: 43px;
	width: 48%;
}

.portfolio a:nth-of-type(odd) .portfolio-item {
	margin-right: 4%;
}

.portfolio a:nth-of-type(5) .portfolio-item,
.portfolio a:nth-of-type(6) .portfolio-item {
	margin-bottom: 0;
}

.portfolio-item-thumbnail {
	height: 520px;
}

.portfolio-item-heading {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 18px 0 3px 0;
	text-transform: capitalize;
}

.portfolio-item-category {
	font-size: .875rem;
	font-weight: 300;
	letter-spacing: .3px;
	text-transform: capitalize;
}

/* =============== # Single Project =============== */

.single-project .intro {
	margin: 95px 0 110px 0;
}

.single-project .intro h1 {
	font-size: 3.75rem;
	font-weight: 400;
	margin: 0 0 25px -3px;
	text-transform: capitalize;
}

.single-project .intro ul {
	float: left;
	list-style: none;
	margin-top: 7px;
	width: 50%;
}

.single-project .intro ul li {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: .1px;
	margin-bottom: 8px;
	text-transform: capitalize;
}

.single-project .intro p {
	float: right;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.9;
	width: 50%;
}

.single-project .info {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.9;
	margin: 90px 0;
	width: 60%;
}

.img-full {
	height: 600px;
	width: 100%;
}

.img-halved .item {
	float: left;
	height: 670px;
	width: 48.75%;
}

.img-halved .item:nth-of-type(1) {
	margin-right: 2.5%;
}

.next {
	align-items: center;
	display: flex;
	cursor: pointer;
	height: 500px;
	justify-content: center;
	width: 100%;
}

.next h2 {
	font-size: 6.25rem;
	font-weight: 400;
	letter-spacing: 5px;
	text-transform: capitalize;
	transition:  all .2s ease-in-out;
}

.sticky-section {
    background-color: #000000;
    color: white;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    z-index: 1000; /* Any high value to ensure it's on top of other elements */
	transition: top 0.3s ease-in-out; /* 0.3s is the duration of the transition, you can adjust it */
}



.placeholder {
    height: 50px; /* Match this with the height of your sticky-section */
}


.official-link {
    font-family: "mona-sanslight_wide";
    color: white;
    font-size: 12px;
    padding: 10px 30px;
    display: inline-block;
    transition: all 0.3s ease; /* Optional: For smooth transition */
}

.featured-works .item-img {
	height: 470px;
	width: 100%;
	overflow: hidden; /* Hide the overflowing parts of the image */
	position: relative; /* Establishes a stacking context */
}

.featured-works .item-img img {
	width: 100%; /* Cover the full width of the parent */
	height: 100%; /* Cover the full height of the parent */
	position: absolute; /* Takes the img out of the document flow */
}
/* Add this CSS to your stylesheet */
.background-title {
	white-space: nowrap;
    position: absolute;
    top: 50%; /* Move the title down by 50% of the container's height */
    left: 50%; /* Move the title right by 50% of the container's width */
    transform: translate(-50%, -50%); /* Center the title both horizontally and vertically */
    font-size: 20rem; /* Adjust the font size as needed */
    font-family: "mona-sansextrabold_wide", sans-serif;
    text-transform: uppercase;
    color: transparent; /* Make the text transparent */
    -webkit-text-stroke: 1px #9f9f9f; /* Add a white stroke effect */
    text-stroke: 2px #9f9f9f;
    z-index: -1; /* Place it behind the content */
    pointer-events: none; /* Prevent the background text from blocking clicks */
	line-height: 0.8; /* Adjust the line height as needed */
}

@media (max-width: 1023px) {
    .background-title {
        display: none; /* Hide the element on screens 1023px or smaller */
    }
}
.custom-effect {
	mix-blend-mode: difference;
}

.spacer {
    height: 20px; /* or whatever height you desire */
    visibility: hidden;
}


.hidden-comment {
    display: none;
}

.see-more-button {
	display: inline-block;
	font-family: Montserrat, sans-serif;
    background-color: black;
	border-radius: 27.5px;
    color: white;
    width: 220px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.see-more-button span {
    font-size: 1rem;
	font-weight: 300;
	line-height: 1.9;
}

.see-more-button:hover {
    background-color: #444;
}

.hidden-comment {
    display: none;
}

.underlined-comment {
    position: relative;
    display: inline-block;
}

.underlined-comment::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjusted value */
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.underlined-comment:hover::after {
    width: 100%;
}

button.entry-category {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

#page-container {
    position: relative;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep it above the background but below the content */
}

.content {
    position: relative;
    z-index: 2; /* Ensure it’s above the particles */
    background: #ffffff; /* Or any other background color */
}
.text-center-for-blog {
	text-align: center;
	margin-top: 20px; /* Adjusts space above the element */
	margin-bottom: 20px; /* Adjusts space below the element */
	padding: 10px; /* Adds space inside the element, making the content look bigger */
	font-size: 1.5em; /* Increases the font size */
  }
  
  .code-box {
	background-color: #f5f5f5; /* Light grey background */
	border-left: 5px solid #f79d00; /* Colored border on the left for accent */
	font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
	overflow-x: auto; /* Adds a horizontal scrollbar if the code is too wide */
	white-space: pre; /* CSS property to handle pre-formatted text */
	margin: 0; /* Resets any default margin */
	padding: 5px; /* Uniform padding inside the box */
	box-sizing: border-box; /* Content-box size includes padding and border */
  }
  
  .code-box pre {
	box-sizing: border-box; /* Ensures padding does not add to the width */
	margin: 0; /* Aligns text properly within the box */
	padding: 0 15px; /* Uniform padding on left and right */
	overflow-x: auto; /* Ensures any horizontal overflow is handled */
  }
  
  .code-box code {
	color: #333; /* Dark grey color for the code */
	white-space: pre-wrap; /* Ensures that the code doesn't overflow the box */
	display: block; /* Ensures the code element behaves as a block */
	padding: 0; /* Remove padding from the code element if needed */
  }
  
  @media screen and (max-width: 768px) {
	.code-box {
	  padding: 15px 10px; /* Smaller padding for smaller screens */
	}
  }
  
  @media screen and (max-width: 480px) {
	.code-box {
	  padding: 15px 5px; /* Even smaller padding for mobile screens */
	}
  }
  











